{% extends 'base.html' %}

{% load static %}

{%  block title  %} Experience  {% endblock title %}

{% block content %}
<h1 class="justify-content-center">My Experience</h1>

<section class="container">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">SDGKU</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">college</h6>
            <p class="card-text">A college where im taking full stack development</p>

        </div>

    </div>

</section>
{% endblock content %}